In [133]:
%pip install brawlstats

Requirement already satisfied: brawlstats in c:\users\alniquia\appdata\local\programs\python\python311\lib\site-packages (4.1.1)
Requirement already satisfied: aiohttp>=3.6.0 in c:\users\alniquia\appdata\local\programs\python\python311\lib\site-packages (from brawlstats) (3.8.3)
Requirement already satisfied: requests in c:\users\alniquia\appdata\local\programs\python\python311\lib\site-packages (from brawlstats) (2.28.1)
Requirement already satisfied: python-box in c:\users\alniquia\appdata\local\programs\python\python311\lib\site-packages (from brawlstats) (6.1.0)
Requirement already satisfied: cachetools>=3.1.0 in c:\users\alniquia\appdata\local\programs\python\python311\lib\site-packages (from brawlstats) (5.2.0)
Requirement already satisfied: attrs>=17.3.0 in c:\users\alniquia\appdata\local\programs\python\python311\lib\site-packages (from aiohttp>=3.6.0->brawlstats) (22.2.0)
Requirement already satisfied: charset-normalizer<3.0,>=2.0 in c:\users\alniquia\appdata\local\programs\python\python311\lib\site-packages (from aiohttp>=3.6.0->brawlstats) (2.1.1)
Requirement already satisfied: multidict<7.0,>=4.5 in c:\users\alniquia\appdata\local\programs\python\python311\lib\site-packages (from aiohttp>=3.6.0->brawlstats) (6.0.4)
Requirement already satisfied: async-timeout<5.0,>=4.0.0a3 in c:\users\alniquia\appdata\local\programs\python\python311\lib\site-packages (from aiohttp>=3.6.0->brawlstats) (4.0.2)
Requirement already satisfied: yarl<2.0,>=1.0 in c:\users\alniquia\appdata\local\programs\python\python311\lib\site-packages (from aiohttp>=3.6.0->brawlstats) (1.8.2)
Requirement already satisfied: frozenlist>=1.1.1 in c:\users\alniquia\appdata\local\programs\python\python311\lib\site-packages (from aiohttp>=3.6.0->brawlstats) (1.3.3)
Requirement already satisfied: aiosignal>=1.1.2 in c:\users\alniquia\appdata\local\programs\python\python311\lib\site-packages (from aiohttp>=3.6.0->brawlstats) (1.3.1)
Requirement already satisfied: idna<4,>=2.5 in c:\users\alniquia\appdata\local\programs\python\python311\lib\site-packages (from requests->brawlstats) (3.4)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\alniquia\appdata\local\programs\python\python311\lib\site-packages (from requests->brawlstats) (1.26.12)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\alniquia\appdata\local\programs\python\python311\lib\site-packages (from requests->brawlstats) (2022.9.24)
Note: you may need to restart the kernel to use updated packages.

In [134]:
#importar paquetes a ocupar
import brawlstats
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import json
import datetime
import seaborn as sns

In [135]:
#crear cliente
client = brawlstats.Client('eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzUxMiIsImtpZCI6IjI4YTMxOGY3LTAwMDAtYTFlYi03ZmExLTJjNzQzM2M2Y2NhNSJ9.eyJpc3MiOiJzdXBlcmNlbGwiLCJhdWQiOiJzdXBlcmNlbGw6Z2FtZWFwaSIsImp0aSI6IjMyYWM4MTFiLTFkN2YtNDZiYy1hMGQzLWEyYWRiODJjOWNkYiIsImlhdCI6MTY3MjY5MjM2NSwic3ViIjoiZGV2ZWxvcGVyL2Q0ZTc3OGNkLWJlYTAtZjlmNS04NDBhLTgzYTk1NTk3MWQ1MCIsInNjb3BlcyI6WyJicmF3bHN0YXJzIl0sImxpbWl0cyI6W3sidGllciI6ImRldmVsb3Blci9zaWx2ZXIiLCJ0eXBlIjoidGhyb3R0bGluZyJ9LHsiY2lkcnMiOlsiMjAxLjE4OS4xMDAuNyJdLCJ0eXBlIjoiY2xpZW50In1dfQ.xVJ3igZVNQtAZEafq0j7hf-tUejMbjU0tFR76B-KTGoy6H_InFvtVMvp3dpaIFthT7b_vhtVbZp59rjbrw-4Qg')
# Do not post your token on a public github

In [136]:
# sacar el player tag de los top 200 players
topplayer_tag=[]
leaderboard = client.get_rankings(ranking='players')
for i in leaderboard:
    topplayer_tag.append(i.tag)

print(topplayer_tag)

['#JGCCGY80', '#8820PPUC', '#CGQCYJGY', '#2PGGR8Y9P', '#QRUQQLV0', '#29CJYQJ0', '#8U2GYYCR9', '#YGU20CRG', '#8U8LJVVR', '#8YVRCR2GJ', '#8VQRU29', '#QUYCVC2', '#2JUQJJU', '#P0PULRC', '#20QUGCVQ9', '#LR08G9C8', '#90220GRPU', '#20LC28GPV', '#89JUJUVYL', '#2GLRPQQ00', '#RRVR2PRJ', '#2YUUC02JL', '#VLQPVPY', '#JGUYRYQ', '#22G9J9CUQ', '#QJR0P0PC', '#CJP08CU0', '#8LQ9JR82', '#2QU0QU2VQ', '#2Y2Y99GQR', '#LG2JVYC', '#2YCR9RLCJ', '#L9VGJUG', '#LLQ8GY8', '#JPYQYL02', '#CG0YQP2C', '#82GPP9LQ', '#2VPLLJJ0V', '#9LR29Y8JJ', '#92VJ8VQUP', '#9Q9C9JU0', '#2G82CGU', '#G2JQC0U', '#22UUC9CVC', '#29JJCQULC', '#R9P8L9J0', '#8V92UYCJ', '#20YG0JQ9C', '#2UYJV98J2', '#82UCLY9C8', '#G99CYGL', '#2J82LJJG2', '#YQLY9CYVY', '#Y9CCULV', '#V9L9Y89R', '#8R99PJ890', '#22U992UP', '#8PRYCJYG', '#UYUUQQ8Q', '#2222VVG82', '#QLCJGQUP', '#CL2RUY8Y', '#200VLU82U', '#8PPLV0JYQ', '#Y8YP0QLCQ', '#29Q9GGJG', '#220LY0QJG', '#QYV0028G', '#2P2URUV8G', '#22U8CPP8Q', '#JQCV9PCV', '#2GJVUCL', '#9VP2R0P9', '#GJ9PLGPL', '#UYCUR9C8', '#2QL90JU0', '#2P0QU92P2', '#PJLVYQR8', '#JU0GLU0', '#YJ8VV2C9G', '#VUQV0ULV', '#8CRC9QUY9', '#909YP8LC0', '#CJV2PJ0R', '#CVRULGPP', '#2JJ9G0UP2', '#YVG2LJG', '#2R2CVPJYJ', '#LJ0VY082', '#QRU0L0U', '#2GPCCYCUU', '#YP8802YP8', '#V2Q080UU', '#CRPRL28Y', '#9P2CUYJ8P', '#9RVPL0Q0P', '#2LV8CQ0YP', '#J8URCRCJ', '#LRJ9YYQL', '#PCRQR0R8', '#LG8PCJG8', '#29CVP0V9U', '#99YL0PV9V', '#GCRCVVQ8', '#2R8QLCUG0', '#2Q90CYVJ0', '#2P0V8CGGU', '#8LG2Y9UGG', '#2PGRYULC0', '#9GRYQYGU', '#2P88RVPR', '#2GURCR2P9', '#8UYQRLQQV', '#29L9220C8', '#2YPVVQLV2', '#2G9URR0VL', '#PJ9P89RJR', '#2L892GP', '#2CGJQUL82', '#8C0RY0G9U', '#80PC2QJCR', '#2PJGJY2J2', '#92C8J829Q', '#QQPJ2QJ9', '#2VJUJR2', '#82LRGLQ02', '#2YQCL0L99', '#QQ9RVLCR', '#GV9898YC', '#8Q08U9JY2', '#Y8CYVQQ2', '#P99QGPLU2', '#2VQUYQCGU', '#82GC8GR9Y', '#28YCQ9809', '#29UGLJV2G', '#PJ0GRPR8', '#2UVPC8V', '#8QCYLQ29C', '#V92PGJPL', '#GRCYVRJG', '#200VQUPRP', '#Y989PY8Q', '#YVV2J0UY', '#8Y082R2GG', '#880C0VV2J', '#JVR2J9Q', '#VRLUYQYQ', '#PLUGLRG28', '#8RP2RYVRV', '#GUJR2V0P', '#2PV9R9Q28', '#GG8RL2CP', '#Y2PU0C2LV', '#PQCCPPL', '#YLV8CL0R', '#CPL9PLC8', '#8VJYGP2R8', '#8CV2J29VV', '#880UP8LG', '#98L9G0JVJ', '#2YYJYPCL', '#98L2PPGQ2', '#20C80QUY9', '#VY20VCCY', '#YLQ8L0C', '#2UJ9UYGQG', '#9QCPGR90P', '#92PV2G82', '#P9PJLV2Y0', '#Q9CLRLQYL', '#PP9R0PQ8J', '#9YYUPGJ2V', '#CGUR8V0U', '#Q9R9Y82', '#C2V8LPQQ', '#UCY90J0J', '#VU8CCG0R', '#220PGLU02', '#8JU9GVVJJ', '#8JVV0P808', '#9RCV80QL', '#2VY8LPQL', '#CGRLP2C9', '#Y989VP', '#9LRQ22280', '#89PYLG0Y', '#LYRUCP09Q', '#29UC8UV98', '#V8JU2PVJ', '#QCYQ8C2C', '#2PJJQV92', '#8J9Q82', '#P9UP8LGC', '#2QCVLV2Q', '#VGPLRCVQ', '#2Y9QGVQGP', '#PPUPGRC98', '#2JQGRJGQR', '#2UL9RCPLR']

In [137]:
#creaci√≥n del dataframe
battlelog = pd.DataFrame()

def split_json(s):
	# separa un string por el item "
	s = str(s).split('"')

	return s

def clean_json(jsonitem):
	# para una lista de artiuclos de json, separa en " y limpia los elementos impares de la lista resultante 
	for i in range(len(jsonitem)):
		splitted = split_json(jsonitem[i])
		for j in range(len(splitted)):
			splitted[j] = str(splitted[j]).replace('None','"None"')
			if j % 2 == 1 and len(splitted[j]) < 20:
				splitted[j] = '"' + str(splitted[j]).replace("'",'`') + '"'
			else:
				splitted[j] = str(splitted[j]).replace("'",'"')
		jsonitem[i] = ''.join(splitted)
	
	return jsonitem

#def cleanjson(val):
#	result = str(val).replace('"',"`").replace(': `', ": '").replace('`,',"',").replace('`}',"'}").replace("e's",'e`s').replace('"ll','`ll').replace("I'm", 'I`m').replace("i'm", 'i`m').replace("' ","` ").replace("t's","t`s").replace('None',"'None'").replace("'",'"')
#	return result

for i in range(len(topplayer_tag)):

	playertag = topplayer_tag[i]
	try:
		json_battlelog = client.get_battle_logs(playertag).to_list()
	except:
		print("No se pudo recuperar battlelog de tag " + playertag)

	json_battlelog = clean_json(json_battlelog)

	for k in range(len(json_battlelog)):
		try:
			loaded_json = json.loads('{"playertag": "' + playertag + '", ' + json_battlelog[k][1:])
			battlelog = pd.concat([battlelog, pd.json_normalize(loaded_json)])
		except:
			print("no se pudo importar " + playertag + " battlelog numero " + str(k))

no se pudo importar #8LQ9JR82 battlelog numero 4
no se pudo importar #2UYJV98J2 battlelog numero 6
no se pudo importar #YQLY9CYVY battlelog numero 21
no se pudo importar #V9L9Y89R battlelog numero 15
no se pudo importar #29Q9GGJG battlelog numero 4
no se pudo importar #220LY0QJG battlelog numero 4
no se pudo importar #2PJGJY2J2 battlelog numero 0
no se pudo importar #2PJGJY2J2 battlelog numero 1
no se pudo importar #2PJGJY2J2 battlelog numero 2
no se pudo importar #2PJGJY2J2 battlelog numero 3
no se pudo importar #2PJGJY2J2 battlelog numero 4
no se pudo importar #2PJGJY2J2 battlelog numero 5
no se pudo importar #2PJGJY2J2 battlelog numero 6
no se pudo importar #2PJGJY2J2 battlelog numero 7
no se pudo importar #2PJGJY2J2 battlelog numero 8
no se pudo importar #2PJGJY2J2 battlelog numero 9
no se pudo importar #2PJGJY2J2 battlelog numero 10
no se pudo importar #2PJGJY2J2 battlelog numero 11
no se pudo importar #2PJGJY2J2 battlelog numero 12
no se pudo importar #2PJGJY2J2 battlelog numero 13
no se pudo importar #2PJGJY2J2 battlelog numero 14
no se pudo importar #2PJGJY2J2 battlelog numero 15
no se pudo importar #2PJGJY2J2 battlelog numero 16
no se pudo importar #2PJGJY2J2 battlelog numero 17
no se pudo importar #2PJGJY2J2 battlelog numero 18
no se pudo importar #2PJGJY2J2 battlelog numero 19
no se pudo importar #2PJGJY2J2 battlelog numero 20
no se pudo importar #2PJGJY2J2 battlelog numero 21
no se pudo importar #2PJGJY2J2 battlelog numero 22
no se pudo importar #2PJGJY2J2 battlelog numero 23
no se pudo importar #2PJGJY2J2 battlelog numero 24
no se pudo importar #Y8CYVQQ2 battlelog numero 4
no se pudo importar #880C0VV2J battlelog numero 23
no se pudo importar #92PV2G82 battlelog numero 19
no se pudo importar #VU8CCG0R battlelog numero 12
no se pudo importar #VU8CCG0R battlelog numero 16

In [138]:
#ver info del dataset
print(battlelog.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4882 entries, 0 to 0
Data columns (total 26 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   playertag                            4882 non-null   object
 1   battle_time                          4882 non-null   object
 2   event.id                             4882 non-null   int64
 3   event.mode                           4473 non-null   object
 4   event.map                            4882 non-null   object
 5   battle.mode                          4882 non-null   object
 6   battle.type                          4797 non-null   object
 7   battle.result                        4034 non-null   object
 8   battle.duration                      4051 non-null   float64
 9   battle.trophy_change                 3279 non-null   float64
 10  battle.star_player.tag               3460 non-null   object
 11  battle.star_player.name              3460 non-null   object
 12  battle.star_player.brawler.id        3460 non-null   float64
 13  battle.star_player.brawler.name      3460 non-null   object
 14  battle.star_player.brawler.power     3460 non-null   float64
 15  battle.star_player.brawler.trophies  3460 non-null   float64
 16  battle.teams                         4614 non-null   object
 17  battle.rank                          763 non-null    float64
 18  battle.players                       268 non-null    object
 19  battle.star_player                   574 non-null    object
 20  battle.big_brawler.tag               18 non-null     object
 21  battle.big_brawler.name              18 non-null     object
 22  battle.big_brawler.brawler.id        18 non-null     float64
 23  battle.big_brawler.brawler.name      18 non-null     object
 24  battle.big_brawler.brawler.power     18 non-null     float64
 25  battle.big_brawler.brawler.trophies  18 non-null     float64
dtypes: float64(9), int64(1), object(16)
memory usage: 1.0+ MB
None

In [139]:
battlelog.head()

,playertag,battle_time,event.id,event.mode,event.map,battle.mode,battle.type,battle.result,battle.duration,battle.trophy_change,...,battle.teams,battle.rank,battle.players,battle.star_player,battle.big_brawler.tag,battle.big_brawler.name,battle.big_brawler.brawler.id,battle.big_brawler.brawler.name,battle.big_brawler.brawler.power,battle.big_brawler.brawler.trophies
0,#JGCCGY80,20230102T223900.000Z,15000122,gemGrab,Minecart Madness,gemGrab,ranked,victory,149.0,4.0,...,"[[{'tag': '#YL8JLVGP', 'name': 'shiz√∏nameüê£üíõ', ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,#JGCCGY80,20230102T223312.000Z,15000122,gemGrab,Minecart Madness,gemGrab,ranked,defeat,143.0,-12.0,...,"[[{'tag': '#YL8JLVGP', 'name': 'shiz√∏nameüê£üíõ', ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,#JGCCGY80,20230102T222933.000Z,15000122,gemGrab,Minecart Madness,gemGrab,ranked,victory,113.0,4.0,...,"[[{'tag': '#29G0P8J9P', 'name': 'Scorpion ‚ôõ', ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,#JGCCGY80,20230102T222607.000Z,15000122,gemGrab,Minecart Madness,gemGrab,ranked,defeat,124.0,-12.0,...,"[[{'tag': '#2LLUCVCJU', 'name': 'QWE|Nanna', '...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,#JGCCGY80,20230102T222306.000Z,15000122,gemGrab,Minecart Madness,gemGrab,ranked,victory,124.0,4.0,...,"[[{'tag': '#80ULGUCPP', 'name': '–ª—ã—Å–æ–µ —è–∏—á–∫–æüòè'...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [140]:
#reset battlelog index
battlelog.reset_index(drop=True, inplace=True)

print(battlelog.shape)

(4882, 26)

In [141]:
#export dataset
timestamp = datetime.datetime.now().strftime("%Y%m%d%H%M%S")

battlelog.to_csv('datasets/complete/battlelog_complete_' + timestamp + '.csv')

In [142]:
# cuenta tipos de juego
battlelog['battle.type'].value_counts()

ranked        3593
soloRanked     658
teamRanked     295
friendly       234
challenge       17
Name: battle.type, dtype: int64

In [143]:
#eliminar friendly
battlelog = battlelog.loc[battlelog['battle.type'] != "friendly"]

In [144]:
# cuenta modos de juego
battlelog['battle.mode'].value_counts()

brawlBall       1008
heist            932
gemGrab          713
bounty           579
duoShowdown      578
knockout         366
hotZone          245
soloShowdown     142
roboRumble        67
bigGame           18
Name: battle.mode, dtype: int64

In [145]:
#eliminar modos alt y modos showdown

modos_alt = ['bossFight','roboRumble','bigGame','soloShowdown','duoShowdown']

battlelog = battlelog.loc[~battlelog['battle.mode'].isin(modos_alt)]

In [146]:
#eliminar columnas nulas
battlelog = battlelog.drop(columns=[
'battle.rank'
,'battle.players'
,'battle.big_brawler.tag'
,'battle.big_brawler.name'
,'battle.big_brawler.brawler.id'
,'battle.big_brawler.brawler.name'
,'battle.big_brawler.brawler.power'
,'battle.big_brawler.brawler.trophies'
,'battle.star_player'
,'battle.level.name'
,'battle.level.id'
])

battlelog.info()

KeyError: "['battle.level.name', 'battle.level.id'] not found in axis"

In [ ]:
#reset battlelog index
battlelog.reset_index(drop=True, inplace=True)

print(battlelog.shape)

(3905, 17)

In [ ]:
# descomponer la columna teams

normalized = pd.DataFrame()

for i in range(len(battlelog)):
	team = battlelog['battle.teams'].iloc[i]
	if team != None:
		try:
			normalized = pd.json_normalize(team, errors='ignore').transpose()
			battlelog.loc[i,'battle.team1.player1.tag'] = normalized[0][0]['tag']
			battlelog.loc[i,'battle.team1.player1.name'] = normalized[0][0]['name']
			battlelog.loc[i,'battle.team1.player1.brawler.id'] = normalized[0][0]['brawler.id']
			battlelog.loc[i,'battle.team1.player1.brawler.name'] = normalized[0][0]['brawler.name']
			battlelog.loc[i,'battle.team1.player1.brawler.power'] = normalized[0][0]['brawler.power']
			battlelog.loc[i,'battle.team1.player1.brawler.trophies'] = normalized[0][0]['brawler.trophies']
			battlelog.loc[i,'battle.team1.player2.tag'] = normalized[0][1]['tag']
			battlelog.loc[i,'battle.team1.player2.name'] = normalized[0][1]['name']
			battlelog.loc[i,'battle.team1.player2.brawler.id'] = normalized[0][1]['brawler.id']
			battlelog.loc[i,'battle.team1.player2.brawler.name'] = normalized[0][1]['brawler.name']
			battlelog.loc[i,'battle.team1.player2.brawler.power'] = normalized[0][1]['brawler.power']
			battlelog.loc[i,'battle.team1.player2.brawler.trophies'] = normalized[0][1]['brawler.trophies']
			battlelog.loc[i,'battle.team1.player3.tag'] = normalized[0][2]['tag']
			battlelog.loc[i,'battle.team1.player3.name'] = normalized[0][2]['name']
			battlelog.loc[i,'battle.team1.player3.brawler.id'] = normalized[0][2]['brawler.id']
			battlelog.loc[i,'battle.team1.player3.brawler.name'] = normalized[0][2]['brawler.name']
			battlelog.loc[i,'battle.team1.player3.brawler.power'] = normalized[0][2]['brawler.power']
			battlelog.loc[i,'battle.team1.player3.brawler.trophies'] = normalized[0][2]['brawler.trophies']
			battlelog.loc[i,'battle.team2.player1.tag'] = normalized[1][0]['tag']
			battlelog.loc[i,'battle.team2.player1.name'] = normalized[1][0]['name']
			battlelog.loc[i,'battle.team2.player1.brawler.id'] = normalized[1][0]['brawler.id']
			battlelog.loc[i,'battle.team2.player1.brawler.name'] = normalized[1][0]['brawler.name']
			battlelog.loc[i,'battle.team2.player1.brawler.power'] = normalized[1][0]['brawler.power']
			battlelog.loc[i,'battle.team2.player1.brawler.trophies'] = normalized[1][0]['brawler.trophies']
			battlelog.loc[i,'battle.team2.player2.tag'] = normalized[1][1]['tag']
			battlelog.loc[i,'battle.team2.player2.name'] = normalized[1][1]['name']
			battlelog.loc[i,'battle.team2.player2.brawler.id'] = normalized[1][1]['brawler.id']
			battlelog.loc[i,'battle.team2.player2.brawler.name'] = normalized[1][1]['brawler.name']
			battlelog.loc[i,'battle.team2.player2.brawler.power'] = normalized[1][1]['brawler.power']
			battlelog.loc[i,'battle.team2.player2.brawler.trophies'] = normalized[1][1]['brawler.trophies']
			battlelog.loc[i,'battle.team2.player3.tag'] = normalized[1][2]['tag']
			battlelog.loc[i,'battle.team2.player3.name'] = normalized[1][2]['name']
			battlelog.loc[i,'battle.team2.player3.brawler.id'] = normalized[1][2]['brawler.id']
			battlelog.loc[i,'battle.team2.player3.brawler.name'] = normalized[1][2]['brawler.name']
			battlelog.loc[i,'battle.team2.player3.brawler.power'] = normalized[1][2]['brawler.power']
			battlelog.loc[i,'battle.team2.player3.brawler.trophies'] = normalized[1][2]['brawler.trophies']
		except:
			print("no se pudo transponer")

In [ ]:
#eliminar battle teams
battlelog = battlelog.drop(columns=[
'battle.teams'
])

print(battlelog.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3905 entries, 0 to 3904
Data columns (total 52 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   playertag                              3905 non-null   object
 1   battle_time                            3905 non-null   object
 2   event.id                               3905 non-null   int64
 3   event.mode                             3504 non-null   object
 4   event.map                              3905 non-null   object
 5   battle.mode                            3905 non-null   object
 6   battle.type                            3905 non-null   object
 7   battle.result                          3905 non-null   object
 8   battle.duration                        3905 non-null   float64
 9   battle.trophy_change                   2692 non-null   float64
 10  battle.star_player.tag                 3435 non-null   object
 11  battle.star_player.name                3435 non-null   object
 12  battle.star_player.brawler.id          3435 non-null   float64
 13  battle.star_player.brawler.name        3435 non-null   object
 14  battle.star_player.brawler.power       3435 non-null   float64
 15  battle.star_player.brawler.trophies    3435 non-null   float64
 16  battle.team1.player1.tag               3905 non-null   object
 17  battle.team1.player1.name              3905 non-null   object
 18  battle.team1.player1.brawler.id        3905 non-null   float64
 19  battle.team1.player1.brawler.name      3905 non-null   object
 20  battle.team1.player1.brawler.power     3905 non-null   float64
 21  battle.team1.player1.brawler.trophies  3905 non-null   float64
 22  battle.team1.player2.tag               3905 non-null   object
 23  battle.team1.player2.name              3905 non-null   object
 24  battle.team1.player2.brawler.id        3905 non-null   float64
 25  battle.team1.player2.brawler.name      3905 non-null   object
 26  battle.team1.player2.brawler.power     3905 non-null   float64
 27  battle.team1.player2.brawler.trophies  3905 non-null   float64
 28  battle.team1.player3.tag               3905 non-null   object
 29  battle.team1.player3.name              3905 non-null   object
 30  battle.team1.player3.brawler.id        3905 non-null   float64
 31  battle.team1.player3.brawler.name      3905 non-null   object
 32  battle.team1.player3.brawler.power     3905 non-null   float64
 33  battle.team1.player3.brawler.trophies  3905 non-null   float64
 34  battle.team2.player1.tag               3905 non-null   object
 35  battle.team2.player1.name              3905 non-null   object
 36  battle.team2.player1.brawler.id        3905 non-null   float64
 37  battle.team2.player1.brawler.name      3905 non-null   object
 38  battle.team2.player1.brawler.power     3905 non-null   float64
 39  battle.team2.player1.brawler.trophies  3905 non-null   float64
 40  battle.team2.player2.tag               3905 non-null   object
 41  battle.team2.player2.name              3905 non-null   object
 42  battle.team2.player2.brawler.id        3905 non-null   float64
 43  battle.team2.player2.brawler.name      3905 non-null   object
 44  battle.team2.player2.brawler.power     3905 non-null   float64
 45  battle.team2.player2.brawler.trophies  3905 non-null   float64
 46  battle.team2.player3.tag               3905 non-null   object
 47  battle.team2.player3.name              3905 non-null   object
 48  battle.team2.player3.brawler.id        3905 non-null   float64
 49  battle.team2.player3.brawler.name      3905 non-null   object
 50  battle.team2.player3.brawler.power     3905 non-null   float64
 51  battle.team2.player3.brawler.trophies  3905 non-null   float64
dtypes: float64(23), int64(1), object(28)
memory usage: 1.5+ MB
None

In [ ]:
# traer archivo hist√≥rico battlelog
battlelog_hist = pd.read_csv('datasets/teams/battlelog_teams.csv', index_col=0)
print(battlelog_hist.shape)

(6328, 52)

In [ ]:
# agregar nuevos reg a hist√≥rico
battlelog = pd.concat([battlelog, battlelog_hist])
print(battlelog.shape)

(10233, 52)

In [ ]:
# eliminar battelogs duplicados
battlelog = battlelog.drop_duplicates(ignore_index=True)
print(battlelog.shape)

(8204, 52)

In [ ]:
# export dataset teams completo mas hist√≥rico
battlelog.to_csv('datasets/teams/battlelog_teams.csv')

In [ ]:
# importar brawlers
brawlers = pd.DataFrame()

try:
	json_brawlers = client.get_brawlers().to_list()
except:
	print("No se pudo recuperar listado de brawlers")

json_brawlers = clean_json(json_brawlers)

for k in range(len(json_brawlers)):
	try:
		loaded_json = json.loads(json_brawlers[k])
		brawlers = pd.concat([brawlers, pd.json_normalize(loaded_json)])
	except:
		print("no se pudo importar brawler numero " + str(k))
		print(json_brawlers[k])

In [ ]:
#reset brawler index y export de dataset
brawlers.reset_index(drop=True, inplace=True)

brawlers[['id','name']].to_csv('datasets/brawlers.csv')

print(brawlers[['id','name']])

          id     name
0   16000000   SHELLY
1   16000001     COLT
2   16000002     BULL
3   16000003    BROCK
4   16000004     RICO
..       ...      ...
59  16000061      GUS
60  16000062   BUSTER
61  16000063  CHESTER
62  16000064     GRAY
63  16000065    MANDY

[64 rows x 2 columns]

In [ ]:
# import informaci√≥n adicional de brawlers
brawlers_classification = pd.read_csv('datasets/brawlers_classification.csv', index_col=0)

print(brawlers_classification.head())

         id    name            role  range   speed  health
0  16000000  SHELLY    tank stopper   long  normal    5320
1  16000001    COLT      ranged dps   long  normal    3920
2  16000002    BULL  close quarters  short    fast    7000
3  16000003   BROCK          sniper   long  normal    3600
4  16000004    RICO      ranged dps   long  normal    4200

In [ ]:
# merge de ambos dataframes
brawlerStats = pd.merge(brawlers, brawlers_classification)
print(brawlerStats.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 64 entries, 0 to 63
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   id           64 non-null     int64
 1   name         64 non-null     object
 2   star_powers  64 non-null     object
 3   gadgets      64 non-null     object
 4   role         64 non-null     object
 5   range        64 non-null     object
 6   speed        64 non-null     object
 7   health       64 non-null     int64
dtypes: int64(2), object(6)
memory usage: 4.5+ KB
None

In [ ]:
# merge cada brawler con la base final

crossBattlelog = battlelog

crossBattlelog = pd.merge(crossBattlelog, brawlerStats[['id', 'role', 'range', 'speed', 'health']].add_prefix('battle.team1.player1.brawler.'), how='left', left_on='battle.team1.player1.brawler.id', right_on='battle.team1.player1.brawler.id')

crossBattlelog = pd.merge(crossBattlelog, brawlerStats[['id', 'role', 'range', 'speed', 'health']].add_prefix('battle.team1.player2.brawler.'), how='left', left_on='battle.team1.player2.brawler.id', right_on='battle.team1.player2.brawler.id')

crossBattlelog = pd.merge(crossBattlelog, brawlerStats[['id', 'role', 'range', 'speed', 'health']].add_prefix('battle.team1.player3.brawler.'), how='left', left_on='battle.team1.player3.brawler.id', right_on='battle.team1.player3.brawler.id')

crossBattlelog = pd.merge(crossBattlelog, brawlerStats[['id', 'role', 'range', 'speed', 'health']].add_prefix('battle.team2.player1.brawler.'), how='left', left_on='battle.team2.player1.brawler.id', right_on='battle.team2.player1.brawler.id')

crossBattlelog = pd.merge(crossBattlelog, brawlerStats[['id', 'role', 'range', 'speed', 'health']].add_prefix('battle.team2.player2.brawler.'), how='left', left_on='battle.team2.player2.brawler.id', right_on='battle.team2.player2.brawler.id')

crossBattlelog = pd.merge(crossBattlelog, brawlerStats[['id', 'role', 'range', 'speed', 'health']].add_prefix('battle.team2.player3.brawler.'), how='left', left_on='battle.team2.player3.brawler.id', right_on='battle.team2.player3.brawler.id')

crossBattlelog.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8204 entries, 0 to 8203
Data columns (total 76 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   playertag                              8204 non-null   object
 1   battle_time                            8204 non-null   object
 2   event.id                               8204 non-null   int64
 3   event.mode                             7341 non-null   object
 4   event.map                              8204 non-null   object
 5   battle.mode                            8204 non-null   object
 6   battle.type                            8204 non-null   object
 7   battle.result                          8204 non-null   object
 8   battle.duration                        8204 non-null   float64
 9   battle.trophy_change                   6159 non-null   float64
 10  battle.star_player.tag                 7533 non-null   object
 11  battle.star_player.name                7533 non-null   object
 12  battle.star_player.brawler.id          7533 non-null   float64
 13  battle.star_player.brawler.name        7533 non-null   object
 14  battle.star_player.brawler.power       7533 non-null   float64
 15  battle.star_player.brawler.trophies    7533 non-null   float64
 16  battle.team1.player1.tag               8204 non-null   object
 17  battle.team1.player1.name              8204 non-null   object
 18  battle.team1.player1.brawler.id        8204 non-null   float64
 19  battle.team1.player1.brawler.name      8204 non-null   object
 20  battle.team1.player1.brawler.power     8204 non-null   float64
 21  battle.team1.player1.brawler.trophies  8204 non-null   float64
 22  battle.team1.player2.tag               8204 non-null   object
 23  battle.team1.player2.name              8204 non-null   object
 24  battle.team1.player2.brawler.id        8204 non-null   float64
 25  battle.team1.player2.brawler.name      8204 non-null   object
 26  battle.team1.player2.brawler.power     8204 non-null   float64
 27  battle.team1.player2.brawler.trophies  8204 non-null   float64
 28  battle.team1.player3.tag               8204 non-null   object
 29  battle.team1.player3.name              8204 non-null   object
 30  battle.team1.player3.brawler.id        8204 non-null   float64
 31  battle.team1.player3.brawler.name      8204 non-null   object
 32  battle.team1.player3.brawler.power     8204 non-null   float64
 33  battle.team1.player3.brawler.trophies  8204 non-null   float64
 34  battle.team2.player1.tag               8204 non-null   object
 35  battle.team2.player1.name              8204 non-null   object
 36  battle.team2.player1.brawler.id        8204 non-null   float64
 37  battle.team2.player1.brawler.name      8204 non-null   object
 38  battle.team2.player1.brawler.power     8204 non-null   float64
 39  battle.team2.player1.brawler.trophies  8204 non-null   float64
 40  battle.team2.player2.tag               8204 non-null   object
 41  battle.team2.player2.name              8204 non-null   object
 42  battle.team2.player2.brawler.id        8204 non-null   float64
 43  battle.team2.player2.brawler.name      8204 non-null   object
 44  battle.team2.player2.brawler.power     8204 non-null   float64
 45  battle.team2.player2.brawler.trophies  8204 non-null   float64
 46  battle.team2.player3.tag               8204 non-null   object
 47  battle.team2.player3.name              8204 non-null   object
 48  battle.team2.player3.brawler.id        8204 non-null   float64
 49  battle.team2.player3.brawler.name      8204 non-null   object
 50  battle.team2.player3.brawler.power     8204 non-null   float64
 51  battle.team2.player3.brawler.trophies  8204 non-null   float64
 52  battle.team1.player1.brawler.role      8204 non-null   object
 53  battle.team1.player1.brawler.range     8204 non-null   object
 54  battle.team1.player1.brawler.speed     8204 non-null   object
 55  battle.team1.player1.brawler.health    8204 non-null   int64
 56  battle.team1.player2.brawler.role      8204 non-null   object
 57  battle.team1.player2.brawler.range     8204 non-null   object
 58  battle.team1.player2.brawler.speed     8204 non-null   object
 59  battle.team1.player2.brawler.health    8204 non-null   int64
 60  battle.team1.player3.brawler.role      8204 non-null   object
 61  battle.team1.player3.brawler.range     8204 non-null   object
 62  battle.team1.player3.brawler.speed     8204 non-null   object
 63  battle.team1.player3.brawler.health    8204 non-null   int64
 64  battle.team2.player1.brawler.role      8204 non-null   object
 65  battle.team2.player1.brawler.range     8204 non-null   object
 66  battle.team2.player1.brawler.speed     8204 non-null   object
 67  battle.team2.player1.brawler.health    8204 non-null   int64
 68  battle.team2.player2.brawler.role      8204 non-null   object
 69  battle.team2.player2.brawler.range     8204 non-null   object
 70  battle.team2.player2.brawler.speed     8204 non-null   object
 71  battle.team2.player2.brawler.health    8204 non-null   int64
 72  battle.team2.player3.brawler.role      8204 non-null   object
 73  battle.team2.player3.brawler.range     8204 non-null   object
 74  battle.team2.player3.brawler.speed     8204 non-null   object
 75  battle.team2.player3.brawler.health    8204 non-null   int64
dtypes: float64(23), int64(7), object(46)
memory usage: 4.8+ MB

In [ ]:
# crear columna teamcomp
def create_list(row, team):
    return [row['battle.' + team + '.player1.brawler.role'], row['battle.' + team + '.player2.brawler.role'], row['battle.' + team + '.player3.brawler.role']]

crossBattlelog['battle.team1.comp'] = crossBattlelog.apply(lambda row: create_list(row, 'team1'), axis=1)

crossBattlelog['battle.team2.comp'] = crossBattlelog.apply(lambda row: create_list(row, 'team2'), axis=1)

crossBattlelog[['battle.team1.comp','battle.team2.comp']]

,battle.team1.comp,battle.team2.comp
0,"[assassin, area control, assassin]","[area control, assassin, sniper]"
1,"[area control, assassin, sniper]","[sniper, sniper, assassin]"
2,"[area control, thrower, assassin]","[area control, assassin, sniper]"
3,"[assassin, area control, area control]","[area control, assassin, sniper]"
4,"[area control, thrower, ranged dps]","[assassin, sniper, area control]"
...,...,...
8199,"[area control, assassin, area control]","[assassin, tank, sniper]"
8200,"[close quarters, healer, ranged dps]","[area control, close quarters, ranged dps]"
8201,"[area control, assassin, ranged dps]","[area control, area control, assassin]"
8202,"[area control, ranged dps, sniper]","[healer, area control, assassin]"
8203,"[assassin, area control, area control]","[area control, assassin, tank]"

In [ ]:
# ordena filas de teamcomp por nombre
crossBattlelog['battle.team1.comp'] = [str(sorted(roles)) for roles in crossBattlelog['battle.team1.comp']]
crossBattlelog['battle.team2.comp'] = [str(sorted(roles)) for roles in crossBattlelog['battle.team2.comp']]

crossBattlelog[['battle.team1.comp','battle.team2.comp']]

,battle.team1.comp,battle.team2.comp
0,"['area control', 'assassin', 'assassin']","['area control', 'assassin', 'sniper']"
1,"['area control', 'assassin', 'sniper']","['assassin', 'sniper', 'sniper']"
2,"['area control', 'assassin', 'thrower']","['area control', 'assassin', 'sniper']"
3,"['area control', 'area control', 'assassin']","['area control', 'assassin', 'sniper']"
4,"['area control', 'ranged dps', 'thrower']","['area control', 'assassin', 'sniper']"
...,...,...
8199,"['area control', 'area control', 'assassin']","['assassin', 'sniper', 'tank']"
8200,"['close quarters', 'healer', 'ranged dps']","['area control', 'close quarters', 'ranged dps']"
8201,"['area control', 'assassin', 'ranged dps']","['area control', 'area control', 'assassin']"
8202,"['area control', 'ranged dps', 'sniper']","['area control', 'assassin', 'healer']"
8203,"['area control', 'area control', 'assassin']","['area control', 'assassin', 'tank']"

In [ ]:
# crear columna teambrawlers
def create_list(row, team):
    return [row['battle.' + team + '.player1.brawler.name'], row['battle.' + team + '.player2.brawler.name'], row['battle.' + team + '.player3.brawler.name']]

crossBattlelog['battle.team1.brawlers'] = crossBattlelog.apply(lambda row: create_list(row, 'team1'), axis=1)

crossBattlelog['battle.team2.brawlers'] = crossBattlelog.apply(lambda row: create_list(row, 'team2'), axis=1)

crossBattlelog[['battle.team1.brawlers','battle.team2.brawlers']]

          battle.team1.brawlers     battle.team2.brawlers
0     [CHESTER, BUSTER, MORTIS]  [BUSTER, CHESTER, MANDY]
1      [BUSTER, CHESTER, MANDY]         [BROCK, BEA, STU]
2       [BUSTER, GROM, CHESTER]  [BUSTER, CHESTER, MANDY]
3           [SURGE, CROW, CROW]  [BUSTER, CHESTER, MANDY]
4          [BUSTER, GROM, RICO]  [CHESTER, MANDY, BUSTER]
...                         ...                       ...
8199      [BIBI, COLETTE, CROW]           [STU, ASH, BEA]
8200       [EDGAR, POCO, SPIKE]         [LOU, BULL, LOLA]
8201       [GENE, SURGE, SPIKE]   [JESSIE, CROW, CHESTER]
8202          [BO, LOLA, BROCK]    [GUS, BUSTER, CHESTER]
8203      [CHESTER, GENE, NITA]       [PENNY, SURGE, ASH]

[8204 rows x 2 columns]

In [ ]:
# ordena filas de teambrawlers por nombre
crossBattlelog['battle.team1.brawlers'] = [str(sorted(roles)) for roles in crossBattlelog['battle.team1.brawlers']]
crossBattlelog['battle.team2.brawlers'] = [str(sorted(roles)) for roles in crossBattlelog['battle.team2.brawlers']]

crossBattlelog[['battle.team1.brawlers','battle.team2.brawlers']]

                battle.team1.brawlers           battle.team2.brawlers
0     ['BUSTER', 'CHESTER', 'MORTIS']  ['BUSTER', 'CHESTER', 'MANDY']
1      ['BUSTER', 'CHESTER', 'MANDY']         ['BEA', 'BROCK', 'STU']
2       ['BUSTER', 'CHESTER', 'GROM']  ['BUSTER', 'CHESTER', 'MANDY']
3           ['CROW', 'CROW', 'SURGE']  ['BUSTER', 'CHESTER', 'MANDY']
4          ['BUSTER', 'GROM', 'RICO']  ['BUSTER', 'CHESTER', 'MANDY']
...                               ...                             ...
8199      ['BIBI', 'COLETTE', 'CROW']           ['ASH', 'BEA', 'STU']
8200       ['EDGAR', 'POCO', 'SPIKE']         ['BULL', 'LOLA', 'LOU']
8201       ['GENE', 'SPIKE', 'SURGE']   ['CHESTER', 'CROW', 'JESSIE']
8202          ['BO', 'BROCK', 'LOLA']    ['BUSTER', 'CHESTER', 'GUS']
8203      ['CHESTER', 'GENE', 'NITA']       ['ASH', 'PENNY', 'SURGE']

[8204 rows x 2 columns]

In [ ]:
# crear columna playerteam
for i in range(len(crossBattlelog)):
	if any(crossBattlelog.loc[i, 'playertag'] == tag for tag in [crossBattlelog.loc[i, 'battle.team1.player1.tag'], crossBattlelog.loc[i, 'battle.team1.player2.tag'], crossBattlelog.loc[i, 'battle.team1.player3.tag']]):
		crossBattlelog.loc[i, 'player_team'] = 'team1'
	elif any(crossBattlelog.loc[i, 'playertag'] == tag for tag in [crossBattlelog.loc[i, 'battle.team2.player1.tag'], crossBattlelog.loc[i, 'battle.team2.player2.tag'], crossBattlelog.loc[i, 'battle.team2.player3.tag']]):
		crossBattlelog.loc[i, 'player_team'] = 'team2'
	else:
		print("error in team assignation for id " + str(i))

crossBattlelog['player_team'].value_counts()

team2    4156
team1    4048
Name: player_team, dtype: int64

In [ ]:
# crear columna winner_team
for i in range(len(crossBattlelog)):
	if crossBattlelog.loc[i, 'battle.result'] == 'draw':
		crossBattlelog.loc[i, 'winner_team'] = 'draw'
	elif crossBattlelog.loc[i, 'player_team'] == 'team1' and crossBattlelog.loc[i, 'battle.result'] == 'victory':
		crossBattlelog.loc[i, 'winner_team'] = 'team1'
	elif crossBattlelog.loc[i, 'player_team'] == 'team1' and crossBattlelog.loc[i, 'battle.result'] == 'defeat':
		crossBattlelog.loc[i, 'winner_team'] = 'team2'
	elif crossBattlelog.loc[i, 'player_team'] == 'team2' and crossBattlelog.loc[i, 'battle.result'] == 'victory':
		crossBattlelog.loc[i, 'winner_team'] = 'team2'
	elif crossBattlelog.loc[i, 'player_team'] == 'team2' and crossBattlelog.loc[i, 'battle.result'] == 'defeat':
		crossBattlelog.loc[i, 'winner_team'] = 'team1'
	else:
		print("error in winner assignation for id " + str(i))

crossBattlelog['winner_team'].value_counts()

team1    4115
team2    4056
draw       33
Name: winner_team, dtype: int64

In [ ]:
# crear columna numerica con resultado de winner team

def assign_numeric_winner(row):
    if row['winner_team'] == 'team1':
        return 1
    elif row['winner_team'] == 'team2':
        return 2
    else:
        return 0

crossBattlelog['winner_team_numeric'] = crossBattlelog.apply(assign_numeric_winner, axis=1)

crossBattlelog['winner_team_numeric'].value_counts()

1    4115
2    4056
0      33
Name: winner_team_numeric, dtype: int64

In [ ]:
crossBattlelog['battle.team1.comp'].describe()

count                                       8204
unique                                       144
top       ['area control', 'assassin', 'sniper']
freq                                         536
Name: battle.team1.comp, dtype: object

In [ ]:
crossBattlelog['battle.team2.comp'].describe()

count                                       8204
unique                                       144
top       ['area control', 'assassin', 'sniper']
freq                                         537
Name: battle.team2.comp, dtype: object

In [ ]:
# Renombrar columnas de crossBattlelog
bl1 = crossBattlelog.rename(columns={'battle.team1.comp': 'teamcomp'})
bl2 = crossBattlelog.rename(columns={'battle.team2.comp': 'teamcomp'})

# Concatenar DataFrames y renombrar columnas
teamComp = pd.concat([bl1[['playertag','player_team','teamcomp','winner_team']], bl2[['playertag','player_team','teamcomp','winner_team']]], ignore_index=True)

teamComp

,playertag,player_team,teamcomp,winner_team
0,#JGCCGY80,team2,"['area control', 'assassin', 'assassin']",team2
1,#JGCCGY80,team1,"['area control', 'assassin', 'sniper']",team1
2,#JGCCGY80,team2,"['area control', 'assassin', 'thrower']",team2
3,#JGCCGY80,team2,"['area control', 'area control', 'assassin']",team2
4,#JGCCGY80,team2,"['area control', 'ranged dps', 'thrower']",team2
...,...,...,...,...
16403,#29Q9GGJG,team2,"['assassin', 'sniper', 'tank']",team2
16404,#220LY0QJG,team2,"['area control', 'close quarters', 'ranged dps']",team1
16405,#YPGUYYLJ,team1,"['area control', 'area control', 'assassin']",team2
16406,#220PGLU02,team2,"['area control', 'assassin', 'healer']",team2
16407,#PGY9ULY,team1,"['area control', 'assassin', 'tank']",team2

In [ ]:
# crear pivot table con los team comp
pivotTeamComp = teamComp.pivot_table(index=['teamcomp','player_team'], columns='winner_team', values='playertag', aggfunc='count', fill_value=0)

pivotTeamComp

winner_team                                                     draw  team1  \
teamcomp                                           player_team
['area control', 'area control', 'area control']   team1           0    109
                                                   team2           1     50
['area control', 'area control', 'assassin']       team1           1    301
                                                   team2           2    144
['area control', 'area control', 'close quarters'] team1           0     76
...                                                              ...    ...
['tank', 'tank', 'thrower']                        team2           0      0
['tank', 'thrower', 'thrower']                     team1           0      3
                                                   team2           0      0
['thrower', 'thrower', 'thrower']                  team1           0      3
                                                   team2           0      3

winner_team                                                     team2
teamcomp                                           player_team
['area control', 'area control', 'area control']   team1           50
                                                   team2          129
['area control', 'area control', 'assassin']       team1          140
                                                   team2          325
['area control', 'area control', 'close quarters'] team1           31
...                                                               ...
['tank', 'tank', 'thrower']                        team2            1
['tank', 'thrower', 'thrower']                     team1            0
                                                   team2            1
['thrower', 'thrower', 'thrower']                  team1            2
                                                   team2            6

[286 rows x 3 columns]

In [ ]:
#reset pivotTeamComp index
pivotTeamComp.reset_index(drop=False, inplace=True)

pivotTeamComp

winner_team,teamcomp,player_team,draw,team1,team2
0,"['area control', 'area control', 'area control']",team1,0,109,50
1,"['area control', 'area control', 'area control']",team2,1,50,129
2,"['area control', 'area control', 'assassin']",team1,1,301,140
3,"['area control', 'area control', 'assassin']",team2,2,144,325
4,"['area control', 'area control', 'close quarte...",team1,0,76,31
...,...,...,...,...,...
281,"['tank', 'tank', 'thrower']",team2,0,0,1
282,"['tank', 'thrower', 'thrower']",team1,0,3,0
283,"['tank', 'thrower', 'thrower']",team2,0,0,1
284,"['thrower', 'thrower', 'thrower']",team1,0,3,2
285,"['thrower', 'thrower', 'thrower']",team2,0,3,6

In [ ]:
# tasa de victoria por cada teamcomp
# se necesita hacer un nuevo rollout por teamcomp

teamCompTotal = pd.DataFrame

for i in range(len(pivotTeamComp)):
	pivotTeamComp.loc[i, 'winrate'] =