# Training Machine Learning Models

In [1]:
import os

In [2]:
from pycaret.classification import *
from sklearn.model_selection import train_test_split
import pandas as pd

In [3]:
df = pd.read_parquet('datasets/teams/battlelog_train.parquet')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 129190 entries, 0 to 129189
Data columns (total 69 columns):
 #   Column                                       Non-Null Count   Dtype
---  ------                                       --------------   -----
 0   event_mode                                   129190 non-null  category
 1   event_map                                    129190 non-null  category
 2   battle_team1_player1_brawler_name            129190 non-null  category
 3   battle_team1_player2_brawler_name            129190 non-null  category
 4   battle_team1_player3_brawler_name            129190 non-null  category
 5   battle_team2_player1_brawler_name            129190 non-null  category
 6   battle_team2_player2_brawler_name            129190 non-null  category
 7   battle_team2_player3_brawler_name            129190 non-null  category
 8   battle_team1_player1_brawler_Class           107560 non-null  category
 9   battle_team1_player2_brawler_Class           105894 non-null  category
 10  battle_team1_player3_brawler_Class           104944 non-null  category
 11  battle_team2_player1_brawler_Class           108827 non-null  category
 12  battle_team2_player2_brawler_Class           106383 non-null  category
 13  battle_team2_player3_brawler_Class           105502 non-null  category
 14  battle_team1_player1_brawler_Role            107560 non-null  category
 15  battle_team1_player2_brawler_Role            105894 non-null  category
 16  battle_team1_player3_brawler_Role            104944 non-null  category
 17  battle_team2_player1_brawler_Role            108827 non-null  category
 18  battle_team2_player2_brawler_Role            106383 non-null  category
 19  battle_team2_player3_brawler_Role            105502 non-null  category
 20  battle_team1_player1_brawler_Movement_Speed  107560 non-null  category
 21  battle_team1_player2_brawler_Movement_Speed  105894 non-null  category
 22  battle_team1_player3_brawler_Movement_Speed  104944 non-null  category
 23  battle_team2_player1_brawler_Movement_Speed  108827 non-null  category
 24  battle_team2_player2_brawler_Movement_Speed  106383 non-null  category
 25  battle_team2_player3_brawler_Movement_Speed  105502 non-null  category
 26  battle_team1_player1_brawler_Range           107560 non-null  category
 27  battle_team1_player2_brawler_Range           105894 non-null  category
 28  battle_team1_player3_brawler_Range           104944 non-null  category
 29  battle_team2_player1_brawler_Range           108827 non-null  category
 30  battle_team2_player2_brawler_Range           106383 non-null  category
 31  battle_team2_player3_brawler_Range           105502 non-null  category
 32  winner_team                                  129190 non-null  int8
 33  barriers                                     129190 non-null  int8
 34  barriers_center                              129190 non-null  int8
 35  bushes                                       129190 non-null  int8
 36  bushes_center                                129190 non-null  int8
 37  waterProp                                    129190 non-null  float32
 38  avg_brawler_Range_Num_diff                   45299 non-null   float32
 39  avg_brawler_trophies_diff                    129190 non-null  float32
 40  avg_brawler_Health_diff                      45299 non-null   float32
 41  avg_brawler_Speed_Num_diff                   45299 non-null   float32
 42  avg_brawler_winrate_diff                     45299 non-null   float32
 43  avg_brawler_winrate_overall_diff             45299 non-null   float32
 44  avg_highestTrophies_diff                     129190 non-null  float32
 45  avg_trophies_diff                            129190 non-null  float32
 46  avg_expPoints_diff                           129190 non-null  float32
 47  avg_team_victories_diff                      129190 non-null  float32
 48  max_brawler_Range_Num_diff                   92797 non-null   float32
 49  max_brawler_trophies_diff                    129190 non-null  float32
 50  max_brawler_Health_diff                      92797 non-null   float32
 51  max_brawler_Speed_Num_diff                   92797 non-null   float32
 52  max_brawler_winrate_diff                     92797 non-null   float32
 53  max_brawler_winrate_overall_diff             92797 non-null   float32
 54  max_highestTrophies_diff                     129190 non-null  float32
 55  max_trophies_diff                            129190 non-null  float32
 56  max_expPoints_diff                           129190 non-null  float32
 57  max_team_victories_diff                      129190 non-null  float32
 58  min_brawler_Range_Num_diff                   92797 non-null   float32
 59  min_brawler_trophies_diff                    129190 non-null  float32
 60  min_brawler_Health_diff                      92797 non-null   float32
 61  min_brawler_Speed_Num_diff                   92797 non-null   float32
 62  min_brawler_winrate_diff                     92797 non-null   float32
 63  min_brawler_winrate_overall_diff             92797 non-null   float32
 64  min_highestTrophies_diff                     129190 non-null  float32
 65  min_trophies_diff                            129190 non-null  float32
 66  min_expPoints_diff                           129190 non-null  float32
 67  min_team_victories_diff                      129190 non-null  float32
 68  battle_power_diff                            129190 non-null  float32
dtypes: category(32), float32(32), int8(5)
memory usage: 20.4 MB

In [4]:
# cambiar working directory
print(os.getcwd())
os.chdir('machine_learning')
print(os.getcwd())

c:\Users\alniquia\OneDrive - Telefonica\Documents\Projects\BrawlStars_Model
c:\Users\alniquia\OneDrive - Telefonica\Documents\Projects\BrawlStars_Model\machine_learning

In [5]:
def split_data(data, test_size, random_state):
	"""Funcion para dividir el dataset en train y test"""
	train, test = train_test_split(
			data,
			test_size=test_size,
			random_state=random_state
			)
		
	print('train: ', train.shape)
	print('test: ', test.shape)

	return train, test

seed=14697

train, test = split_data(df, test_size = 0.25, random_state=seed)

train:  (96892, 69)
test:  (32298, 69)

In [10]:
# setup model
session_1 = setup(
	data = train,
	target = 'winner_team',
	fix_imbalance = True,
    feature_selection= True,
	remove_outliers=True,
	log_experiment = True,
    use_gpu=False)

2023/06/10 21:33:05 INFO mlflow.tracking.fluent: Experiment with name 'clf-default-name' does not exist. Creating a new experiment.

In [11]:
#comparaci√≥n de modelos
model = compare_models()

In [ ]:
#try model blender

# example:
# train a few models
# lr = create_model('lr')
# dt = create_model('dt')
# knn = create_model('knn')

# blend models
# blender = blend_models([lr, dt, knn])
# blender_tuned = tune_model(blender, optimize = 'F1')

In [12]:
# tunear el mejor modelo
model_tuned = tune_model(model, optimize = 'F1')

Fitting 10 folds for each of 10 candidates, totalling 100 fits
Original model was better than the tuned model, hence it will be returned. NOTE: The display metrics are for the tuned model (not the original one).

In [15]:
# finalizar modelo
model_finalized = finalize_model(model_tuned)

In [16]:
save_model(model_finalized, 'bs_predictor')

Transformation Pipeline and Model Successfully Saved

(Pipeline(memory=FastMemory(location=C:\Users\alniquia\AppData\Local\Temp\joblib),
          steps=[('label_encoding',
                  TransformerWrapperWithInverse(exclude=None, include=None,
                                                transformer=LabelEncoder())),
                 ('numerical_imputer',
                  TransformerWrapper(exclude=None,
                                     include=['barriers', 'barriers_center',
                                              'bushes', 'bushes_center',
                                              'waterProp',
                                              'avg_brawler_Range_Num_diff',
                                              'a...
                  LGBMClassifier(boosting_type='gbdt', class_weight=None,
                                 colsample_bytree=1.0, importance_type='split',
                                 learning_rate=0.1, max_depth=-1,
                                 min_child_samples=20, min_child_weight=0.001,
                                 min_split_gain=0.0, n_estimators=100, n_jobs=-1,
                                 num_leaves=31, objective=None,
                                 random_state=4813, reg_alpha=0.0,
                                 reg_lambda=0.0, silent='warn', subsample=1.0,
                                 subsample_for_bin=200000, subsample_freq=0))],
          verbose=False),
 'bs_predictor.pkl')

In [9]:
predictions = predict_model(model_finalized, data = test)
predictions['winner_team'] = predictions['winner_team'] + 1
predictions.head()

,event_mode,event_map,battle_team1_player1_brawler_name,battle_team1_player2_brawler_name,battle_team1_player3_brawler_name,battle_team2_player1_brawler_name,battle_team2_player2_brawler_name,battle_team2_player3_brawler_name,battle_team1_player1_brawler_Class,battle_team1_player2_brawler_Class,...,min_brawler_winrate_diff,min_brawler_winrate_overall_diff,min_highestTrophies_diff,min_trophies_diff,min_expPoints_diff,min_team_victories_diff,battle_power_diff,winner_team,prediction_label,prediction_score
36071,brawlBall,Super Beach,TICK,EL PRIMO,SHELLY,FANG,COLT,OTIS,Damage Dealer,Tank,...,-0.077500,-0.088469,-2.015099,-1.982920,-4.348138,-4.526910,0.0,1,2,0.8202
36425,brawlBall,Super Beach,MAISIE,SPIKE,CHESTER,HANK,EMZ,MAISIE,NaN,Damage Dealer,...,NaN,NaN,0.489726,0.478965,0.960376,0.722320,8.0,1,1,0.8335
102249,brawlBall,Backyard Bowl,PAM,MORTIS,SURGE,BEA,LOLA,MEG,Support,Assassin,...,-0.071375,-0.084791,-0.339709,-0.335962,-0.533372,-0.596536,1.0,2,2,0.8085
38608,brawlBall,Super Beach,GROM,HANK,GENE,HANK,MORTIS,WILLOW,Damage Dealer,NaN,...,NaN,NaN,-0.225481,-0.241171,-0.671387,-0.691845,1.0,2,1,0.6205
117920,bounty,Canal Grande,PIPER,TICK,EVE,HANK,PENNY,RUFFS,Damage Dealer,Damage Dealer,...,NaN,NaN,-1.232141,-1.235180,-1.868867,-1.949996,-1.0,2,2,0.9121

In [12]:
def metrics_capturing(df):
	"""Captures the metrics of a classification model"""
	from sklearn.metrics import accuracy_score, f1_score, precision_score, recall_score, classification_report, confusion_matrix

	accuracy = accuracy_score(df['winner_team'], df['prediction_label'])
	f1 = f1_score(df['winner_team'], df['prediction_label'])
	precision = precision_score(df['winner_team'], df['prediction_label'])
	recall = recall_score(df['winner_team'], df['prediction_label'])
	report = classification_report(df['winner_team'], df['prediction_label'])
	matrix = confusion_matrix(df['winner_team'], df['prediction_label'])

	return accuracy, f1, precision, recall, report, matrix

accuracy, f1, precision, recall, report, matrix = metrics_capturing(predictions)
print('accuracy: ', accuracy)
print('f1: ', f1)
print('precision: ', precision)
print('recall: ', recall)
print('report: ', report)
print('matrix: ', matrix)

# save metrics
metrics = pd.DataFrame({
		'accuracy': [accuracy],
		'f1': [f1],
		'precision': [precision],
		'recall': [recall],
})

metrics.to_json('bs_metrics.json')

accuracy:  0.7093008855037464
f1:  0.7104394757131842
precision:  0.7206406807232685
recall:  0.7005230507237562
report:                precision    recall  f1-score   support

           1       0.72      0.70      0.71     16442
           2       0.70      0.72      0.71     15856

    accuracy                           0.71     32298
   macro avg       0.71      0.71      0.71     32298
weighted avg       0.71      0.71      0.71     32298

matrix:  [[11518  4924]
 [ 4465 11391]]